.bingo-padding-row {
    padding-top: 10px;
    padding-bottom: 10px;
}

.bingo-link-button-80p {
    width: 80%;
}

.bingo-link-button-100p {
    width: 100%;
}

.bingo-games {

    background-repeat: no-repeat;
    background: #480B96;
    border-radius: 30px;
    padding: 30px 39px 12px;
}

.h80 {

    height: 85%;
}

.h85 {

    height: 85%;
}

.h100 {

    height: 100%;
}


/* Todays winner  */


.gradient-box{
    background: radial-gradient(78.16% 122.14% at 50% 54.76%, #FB0078 0%, #3E0B77 63.7%, #2F0C78 100%);
    border-radius: 20px;
    padding: 28px 0 59px;
}
.head{
    text-transform: uppercase;
    margin-bottom: 15px;
}
.profile {
    position: relative;
    display: inline-block;
    margin-top: 13px;
}
.profile img{
    border-radius: 50%;
    margin: 0 auto;
}
.profile h5{
    background: #4E01CE;
    border-radius: 20px;
    position: absolute;
    bottom: -20px;
    transform: translate(-38px, 0px);
    width: 170px;
    padding: 6px 0;
}

.right-side {
    background: #480B96;
    border-radius: 30px;
    padding: 30px 39px 12px;
}

.title-area {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.title-area h5 {
    text-transform: uppercase;
    position: absolute;
    
}