/* RESET CSS start */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root{
    --body-font: 'Roboto', sans-serif;
    --body-alt-font: 'Chakra Petch', sans-serif;
    --body-color: rgb(255, 255, 255);
    --body-bg: #186848;
}

/* FORMAT */
.green{color: #00FEDF;}
.pt-60 {padding-top: 60px}
.pb-60 {padding-bottom: 60px}
.pr-12 {padding-right: 12px}
.pl-12 {padding-left: 12px}
.align-center{justify-content: center}
.align-item{align-items: center}
.mr-10{margin-right: 10px}
.mb-10{margin-bottom: 10px}
.member-110x110 .img-area {background: #03D6F9; width: 110px;height: 110px; border-radius: 50%; margin: 0 auto;overflow: hidden;}


/* MODALS */
.btn-help{ padding:8px 11px;}
.btn-help .iconHelph{top: 2px; position: relative;}
/*https://codepen.io/sosuke/pen/Pjoqqp*/
.iconHelph{filter: invert(64%) sepia(76%) saturate(674%) hue-rotate(12deg) brightness(115%) contrast(98%);}
.iconHelph:hover{filter: invert(95%) sepia(74%) saturate(660%) hue-rotate(14deg) brightness(101%) contrast(91%);}


/* HOME PAGE */
#header-section.header-fixed { background-color: #073321;}
#banner-section { padding-top: 100px; 
background: rgb(31,132,91);
background: -moz-radial-gradient(circle, rgba(31,132,91,1) 25%, rgba(14,62,42,1) 100%);
background: -webkit-radial-gradient(circle, rgba(31,132,91,1) 25%, rgba(14,62,42,1) 100%);
background: radial-gradient(circle, rgba(31,132,91,1) 25%, rgba(14,62,42,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1f845b",endColorstr="#0e3e2a",GradientType=1);
}
#banner-section .main-content h3 span {color: #00FEDF; font-family: inherit; font-weight: inherit; font-size: inherit;line-height: inherit;}
#banner-section .banner-content .bottom-item {background-color: #073321;}


/*--Home section: Game--*/
#available-game-section {
  background: -moz-radial-gradient(circle, #0f442e, #0f442e);
  background-color: #0f442e;
}


/*--Home section: Promotion--*/
#available-promotions-section {
    position: relative;
}
#available-promotions-section.games {
    z-index: 1;
}
#available-promotions-section.games .ani-div .obj-1 {
    top: 0;
    left: 13%;
    animation: none;
}
#available-promotions-section::before{
    content: "";
    background-image: url(../images/latest-activites.png);
    background-color: #186848;
    opacity: 0.3;
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#available-promotions-section .ani-div{
    opacity: 0.3;
    position: relative;
    z-index: -1;
}
#available-promotions-section .ani-div img{
    position: absolute;
}
#available-promotions-section .ani-div .obj-1{
    top: -30px;
    left: 13%;
    -webkit-animation: zoominout 4s infinite;
    animation: zoominout 4s infinite;
}
#available-promotions-section .ani-div .obj-2{
    top: 125px;
    right: 4%;
    -webkit-animation: zoominout 5s infinite;
    animation: zoominout 5s infinite;
}
#available-promotions-section .ani-div .obj-3{
    top: 320px;
    left: 2%;
    -webkit-animation: zoominout 5s infinite;
    animation: zoominout 5s infinite;
}
#available-promotions-section .contained-area .col-lg-3 {
    margin-bottom: 30px;
}



/* GAMES BINGO PAGE */
.txt-profile-page{font-size: 16px}
.envelope img{margin: 0px;}
.icon-envelope{width:27px; filter: invert(64%) sepia(76%) saturate(674%) hue-rotate(12deg) brightness(115%) contrast(98%);}
.icon-envelope:hover{width:30px; filter: invert(95%) sepia(74%) saturate(660%) hue-rotate(14deg) brightness(101%) contrast(91%);}
#available-game-section.index-2 .nav-tabs .nav-item {margin-bottom: 10px;}


.games-bingo .tab-pane .mb-cus {
    margin: 43px 0;
}
.games-bingo .tab-content .all-items {
    width: 100% !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.games-bingo .tab-content .single-item {
    flex: 0 0 calc(100% / 2 - 15px);
    -ms-flex: 0 0 calc(100% / 2 - 15px);
    max-width: calc(100% / 2 - 15px);
    padding: 30px 20px;
    border: 1px solid #262975;
    border-radius: 20px;
    margin-bottom: 30px;
    transition: all ease 0.5s;
}
.games-bingo .tab-content .single-item .content-area {
    display: flex;
}
.games-bingo .tab-content .single-item .grid-style {
    margin: 0 auto;
    display: grid;
    align-items: center;
    text-align: center;
}
.games-bingo .tab-content .single-item .grid-style h5 {
    text-transform: uppercase;
}
.games-bingo .tab-content .single-item .grid-style .prize {
    padding: 15px 30px;
    background: #191951;
    border-radius: 10px;
}
.games-bingo .tab-content .single-item .grid-style .prize img {
    margin-right: 5px;
}
.games-bingo .tab-content .single-item .grid-style .prize h5 {
    color: #00FEDF;
}
.games-bingo .tab-content .single-item .grid-style .bet {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 22px;
}
.games-bingo .tab-content .single-item .grid-style .bet span {
    color: #00FEDF;
    font-size: inherit;
    line-height: inherit;
}
.games-bingo .tab-content .single-item .cmn-btn-second {
    border: 1px solid #4450B8;
}
.games-bingo .tab-content .single-item.list .list-right .end-on, .games-bingo .tab-content .single-item .grid-style .end-on {
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
}
.games-bingo .tab-content .single-item.list .list-right .end-on span, .games-bingo .tab-content .single-item .grid-style .end-on span {
    color: #00FEDF;
    font-size: inherit;
    line-height: inherit;
}
.games-bingo .tab-content .single-item .list-right {
    display: none;
}






/* ============================= * RESPONSIVE * =============================
/*--Banner Home--*/

@media (min-width: 991px){	
#banner-section {padding-top: 147px;}
.col-lg-6 .banner-home {-ms-flex: 0 0 100%; flex: 0 0 100%;max-width: 100%;}	
}

@media (max-width: 991px){	
#banner-section .banner-content .ani-illu img.left-1 {width: 50%;left: -9px;}
#banner-section .main-content .cmn-btn {line-height: 12.6px; margin-top: 45px; padding-top: 12px; padding-bottom: 5px;}
#available-promotions-section .contained-area { margin-top: 30px;}
	
/*Games Bingo Page*/
.games-bingo .tab-content .single-item .content-area { display: grid;justify-content: center;}
.games-bingo .tab-content .single-item .grid-style .head-area { margin: 12px 0;}
.games-bingo .tab-content .single-item .grid-style .bet {margin: 15px 0;}
.games-bingo .tab-content .single-item .cmn-btn-second {margin-bottom: 15px;}
}

@media (max-width: 963px){	
#banner-section .banner-content .ani-illu img.left-1 {width: 44%;left: -85px;}
}
@media (max-width: 575px){ 
#available-promotions-section .contained-area .col-lg-3 { text-align: center;}
.btn-help{ padding:5px 11px;}
.icon-envelope{width:20px;}
.txt-profile-page {font-size: 16px;}
}
@media (max-width: 380px){	
#banner-section .banner-content .ani-illu img.left-1 {width: 50%; left: -8px; top: -167px;;}
}



