/* RESET CSS start */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root{
    --body-font: 'Roboto', sans-serif;
    --body-alt-font: 'Chakra Petch', sans-serif;
    --body-color: rgb(255, 255, 255);
    --body-bg: #186848;
}

/* FORMAT */
.bg-green-1{background-color:#186848}
.bg-green-2{background-color:#082d1e}
.green{color: #00FEDF;}
.pt-60 {padding-top: 60px}
.pb-60 {padding-bottom: 60px}
.pr-12 {padding-right: 12px}
.pl-12 {padding-left: 12px}
.align-center{justify-content: center}
.align-item{align-items: center}
.mt-120{margin-top:120px}
.mr-10{margin-right: 10px}
.mb-10{margin-bottom: 10px}
.member-110x110 .img-area {background: #03D6F9; width: 110px;height: 110px; border-radius: 50%; margin: 0 auto;overflow: hidden;}


/* MODALS */
.btn-help{ padding:8px 11px;}
.btn-help .iconHelph{top: 2px; position: relative;}
/*https://codepen.io/sosuke/pen/Pjoqqp*/
.iconHelph{filter: invert(64%) sepia(76%) saturate(674%) hue-rotate(12deg) brightness(115%) contrast(98%);}
.iconHelph:hover{filter: invert(95%) sepia(74%) saturate(660%) hue-rotate(14deg) brightness(101%) contrast(91%);}


/* RIBBON YEAR */
.experience-years {
    left: 16%;
    position: absolute;
    top: 23%;
}
.experience-years img {
    -webkit-animation: spin 20s linear infinite;
    animation: spin 20s linear infinite;
}
.experience-years span {
    color: #ffc010;
    font-size: 60px;
    font-weight: 900;
    left: 32%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}


/* HOME PAGE */
.header-section.header-fixed { background-color: #073321;}
.banner-section { padding-top: 100px; 
background: rgb(31,132,91);
background: -moz-radial-gradient(circle, rgba(31,132,91,1) 25%, rgba(14,62,42,1) 100%);
background: -webkit-radial-gradient(circle, rgba(31,132,91,1) 25%, rgba(14,62,42,1) 100%);
background: radial-gradient(circle, rgba(31,132,91,1) 25%, rgba(14,62,42,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1f845b",endColorstr="#0e3e2a",GradientType=1);
}
.banner-section .main-content h1 {font-size: 48px;line-height: 51.6px;}
.banner-section .main-content h3 span {color: #00FEDF; font-family: inherit; font-weight: inherit; font-size: 38px;line-height:40.6px;}
.banner-section .banner-content .bottom-item {background-color: #073321;}


/*-- HOME PAGE: Section-Game --*/
/*
.available-game-section {
  background: -moz-radial-gradient(circle, #0f442e, #0f442e);
  background-color: #0f442e;
}
*/

/*-- HOME PAGE: Section-Promotion --*/
.available-content-section {
    position: relative;
}
.available-content-section.games {
    z-index: 1;
}
.available-content-section.games .ani-div .obj-1 {
    top: 0;
    left: 13%;
    animation: none;
}
.available-content-section::before{
    content: "";
    background-image: url(file:///Macintosh%20HD/private/var/folders/7v/xb7m91c57hj77kxj0hlgs8g80000gn/T/Adobe/images/latest-activites.png);
    background-color: #186848;
    opacity: 0.3;
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.available-content-section .ani-div{
    opacity: 0.3;
    position: relative;
    z-index: -1;
}
.available-content-section .ani-div img{
    position: absolute;
}
.available-content-section .ani-div .obj-1{
    top: -30px;
    left: 13%;
    -webkit-animation: zoominout 4s infinite;
    animation: zoominout 4s infinite;
}
.available-content-section .ani-div .obj-2{
    top: 125px;
    right: 4%;
    -webkit-animation: zoominout 5s infinite;
    animation: zoominout 5s infinite;
}
.available-content-section .ani-div .obj-3{
    top: 320px;
    left: 2%;
    -webkit-animation: zoominout 5s infinite;
    animation: zoominout 5s infinite;
}
.available-content-section .contained-area .col-lg-3 {
    margin-bottom: 30px;
}



/* GAMES BINGO PAGE */
.txt-profile-page{font-size: 16px}
.envelope img{margin: 0px;}
.icon-envelope{width:27px; filter: invert(64%) sepia(76%) saturate(674%) hue-rotate(12deg) brightness(115%) contrast(98%);}
.icon-envelope:hover{width:30px; filter: invert(95%) sepia(74%) saturate(660%) hue-rotate(14deg) brightness(101%) contrast(91%);}
.available-game-section.index-2 .nav-tabs .nav-item {margin-bottom: 10px;}
.games-bingo .tab-pane .mb-cus {
    margin: 43px 0;
}
.games-bingo .tab-content .all-items {
    width: 100% !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.games-bingo .tab-content .single-item {
    flex: 0 0 calc(100% / 2 - 15px);
    -ms-flex: 0 0 calc(100% / 2 - 15px);
    max-width: calc(100% / 2 - 15px);
    padding: 30px 20px;
    border: 1px solid #262975;
    border-radius: 20px;
    margin-bottom: 30px;
    transition: all ease 0.5s;
}
.games-bingo .tab-content .single-item .content-area {
    display: flex;
}
.games-bingo .tab-content .single-item .grid-style {margin: 0 auto;display: grid; align-items: center;text-align: center;width: 270; /*agregado*/}
.games-bingo .tab-content .single-item .grid-style h5 {
    text-transform: uppercase;
}
.games-bingo .tab-content .single-item .grid-style .prize {
    padding: 15px 30px;
    background: #191951;
    border-radius: 10px;
}
.games-bingo .tab-content .single-item .grid-style .prize img {
    margin-right: 5px;
}
.games-bingo .tab-content .single-item .grid-style .prize h5 {
    color: #00FEDF;
}
.games-bingo .tab-content .single-item .grid-style .bet {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 22px;
}
.games-bingo .tab-content .single-item .grid-style .bet span {
    color: #00FEDF;
    font-size: inherit;
    line-height: inherit;
}
.games-bingo .tab-content .single-item .cmn-btn-second {
    border: 1px solid #4450B8;
}
.games-bingo .tab-content .single-item.list .list-right .end-on, .games-bingo .tab-content .single-item .grid-style .end-on {
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
}
.games-bingo .tab-content .single-item.list .list-right .end-on span, .games-bingo .tab-content .single-item .grid-style .end-on span {
    color: #00FEDF;
    font-size: inherit;
    line-height: inherit;
}
.games-bingo .tab-content .single-item .list-right {
    display: none;
}





/* PROFILE PAGE */
.padding-subNav-profile { padding: 0.5rem 0.5rem;}
.user-main-dashboard { padding: 40px 0px 0px;}
/*
.user-main-dashboard main .main-box { padding: 30px 30px;border: 1px solid #0a6ec1; border-radius: 10px;background-color: #d2e4d6;} */
.user-main-dashboard main .main-box .header-area { margin-bottom: 5px;}
.user-main-dashboard main .main-box .header-area h4 { font-size: 24px; line-height: 34px; font-weight: 700; color: #ffffff;}
.wallet-box .wallet-tab-menu .nav {/* background-color: #005236; */ padding: 5px 5px;
 text-align: center; display: block;}
.wallet-box .wallet-tab-menu .nav li { display: inline-block; background: #141448; border: 1px solid #4450B8; /*width: 100%;*/ width: 20%;border-radius: 28px;padding: 7px 15px; height: 100%; margin: 4px;}
.wallet-box .wallet-tab-menu .nav li a:hover, .wallet-box .wallet-tab-menu .nav li a.active { color: #fff;}
.wallet-box .wallet-tab-menu .nav li a { color: #9d8fca; font-size: 14px;line-height: 10px;}
.wallet-box .wallet-tab-content {padding-top: 30px;}
.wallet-box .wallet-tab-content .current-balance {background: #1c063e; border: 1px solid #361f57; padding: 20px 20px 20px; border-radius: 10px;}
.wallet-box .wallet-tab-content .current-balance p {font-size: 16px; line-height: 26px; color: #d0d3ff;}
.wallet-box .wallet-tab-content .current-balance li {
    background: #2e0a63;
    display: block;
    text-align: center;
    padding: 10px 20px 5px;
    border-radius: 10px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    color: #fecc3a;
    margin-bottom: 6px;
}

.wallet-box .wallet-tab-content .current-balance h4 { background: #2e0a63; display: block; text-align: center; padding: 20px 20px 15px; border-radius: 10px; font-size: 20px; line-height: 30px; font-weight: 600; color: #fecc3a;}
.wallet-box .wallet-tab-content .current-balance span.t-sm { font-size: 12px; line-height: 22px; color: #9d8fca; font-weight: 600;}


.wallet-box .wallet-tab-content .gradient-box{background: radial-gradient(78.16% 122.14% at 50% 54.76%, #FB0078 0%, #3E0B77 63.7%, #2F0C78 100%); border-radius: 10px; padding: 28px 0 59px; }
.wallet-box .wallet-tab-content .dipo-box .dipo_btc { padding: 30px 30px 30px; border: 1px solid #361f57; border-radius: 10px;}
.head {text-transform: uppercase; margin-bottom: 15px;}
.profile { position: relative;display: inline-block;margin-top: 13px;}

.wallet-box .wallet-tab-content .dipo-box .dipo_btc .h100 {
    height: 100%;
}
.wallet-box .wallet-tab-content .dipo-box .dipo_btc .bingo-games {
   /* border-radius: 30px;
    padding: 30px 39px 12px; */
}

.wallet-box .wallet-tab-content .dipo-box .dipo_btc .bingo-games .row-profile-info {
	width: 100%;
    background: #250e46;
    color: #fff;
    height: 50px;
    padding: 10px 40px 10px 40px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
	margin: 4px 0px;
}
.wallet-box .wallet-tab-content .dipo-box .dipo_btc  .box-header {
    font-size: 10pt;
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
}
.wallet-box .wallet-tab-content .dipo-box .dipo_btc  .box-value {
    font-size: 10pt;
    text-align: right;
}

.wallet-box .wallet-tab-content .dipo-box .dipo_btc .header-area { margin-bottom: 25px;}
.wallet-box .wallet-tab-content .dipo-box .dipo_btc .header-area h4 {font-size: 24px; line-height: 34px; font-weight: 600; color: #fff;}
wallet-box .wallet-tab-content .dipo-box .dipo_btc .header-area p { font-size: 14px; line-height: 24px; color: #817cc4;}
.wallet-box .wallet-tab-content .dipo-box .dipo_btc .referral-link-area .title { font-size: 14px; line-height: 24px;  margin-bottom: 10px; color: #e6e3fc;}
.wallet-box .wallet-tab-content .dipo-box .dipo_btc .referral-link-area .left .aff-code { position: relative;}
.wallet-box .wallet-tab-content .dipo-box .dipo_btc .referral-link-area .left .aff-code input {
    width: 100%;
    background: #250e46;
    color: #fff;
    height: 50px;
    padding: 0px 45px 0px 30px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}
.wallet-box .wallet-tab-content .dipo-box .dipo_btc .referral-link-area .left .aff-code i {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
}
.fa-file:before {
    content: "\f15b";
}
.wallet-box .wallet-tab-content .dipo-box .dipo_btc .referral-link-area .left .aff-code-bottom {
    display: block;
    text-align: right;
    padding-top: 10px;
}
.wallet-box .wallet-tab-content .dipo-box .dipo_btc .referral-link-area .left .aff-code-bottom a {
    font-size: 12px;
    line-height: 22px;
    font-weight: 600;
    color: #e3e0ff;
    margin-left: 15px;
}
.wallet-box .wallet-tab-content .notice-area {
    padding: 30px 30px 30px;
    border: 1px solid #361f57;
    border-radius: 10px;
    margin-top: 30px;
}
.wallet-box .wallet-tab-content .notice-area p {
    font-size: 14px;
    line-height: 24px;
    color: #e3e0ff;
    font-weight: 600;
}
.wallet-box .wallet-tab-content .notice-area p:last-child {
    margin-bottom: 0px;
}
.wallet-box .wallet-tab-content .notice-area p span {
    color: #fecc3a;
    text-transform: uppercase;
    margin-right: 7px;
}






/* ============================= * RESPONSIVE * =============================*/

@media (min-width: 991px){	
.banner-section {padding-top: 147px;}
.col-lg-6 .banner-home {-ms-flex: 0 0 100%; flex: 0 0 100%;max-width: 100%;}	
.experience-years { left: 16%;top: 25%;}	
}

@media (max-width: 991px){	
.banner-section .banner-content .ani-illu img.left-1 {width: 50%;left: -133px;}
.banner-section .main-content .cmn-btn {line-height: 12.6px; margin-top: 45px; padding-top: 12px; padding-bottom: 5px;}
.available-content-section .contained-area { margin-top: 30px;}
.banner-section .banner-content .container {margin-top: 9%}	
.experience-years { left: 7%;top: 17%;}	

.wallet-box .wallet-tab-menu .nav li {width: 32%;}	
	
.games-bingo .nav-tabs .nav-item { margin: 5px;margin-right: initial;}
.games-bingo .tab-pane .mb-cus { margin: 30px 0;justify-content: space-around;}
.games-bingo .tab-content .single-item.list .content-area {display: flex; justify-content: center;}
.games-bingo .tab-content .single-item .content-area { display: grid;justify-content: center;}
.games-bingo .tab-content .single-item .grid-style {width:auto;}
.games-bingo .tab-content .single-item .grid-style .head-area { margin: 12px 0;}
.games-bingo .tab-content .single-item .grid-style .bet {margin: 15px 0;}
.games-bingo .tab-content .single-item .cmn-btn-second {margin-bottom: 15px;}
}

@media (max-width: 963px){	
.experience-years { left: 45%;top: 12%;}	
.banner-section .banner-content .ani-illu img.left-1 {width: 44%;left: -85px;}
.banner-section .banner-content .container {margin-top: 13%}		
}

@media (max-width: 767px) {
.experience-years { left: 42%;top: 10%;}

.wallet-box .wallet-tab-menu .nav li {width: 100%;}		
	
.banner-section .banner-content .container {margin-top: 18%}	
.games-bingo .tab-pane .mb-cus .md-none{ display: none !important;}
.games-bingo .tab-content .nice-select {padding: 7px 8px;}
.games-bingo .nav-tabs {margin-top: 10px;justify-content: center;}
.games-bingo .tab-content .single-item.list {display: grid; justify-content: center;}
.games-bingo .tab-content .single-item.list .content-area {display: grid;justify-content: center;}
.games-bingo .tab-content .single-item.list .grid-style { text-align: center;margin: 0 30px;}
.games-bingo .tab-content .single-item.list:after { border: 0;}
.games-bingo .tab-content .single-item,
.games-bingo .tab-content .single-item.list { flex: 0 0 calc(100% / 2 - 15px); -ms-flex: 0 0 calc(100% / 2 - 15px); max-width: calc(100% / 2 - 15px); padding: 15px 10px;}
.games-bingo .tab-content .single-item.list .content-area img{ width: 100%;}
.games-bingo .tab-content .single-item.list .list-right { padding: 10px;}
.games-bingo .tab-content .single-item.list .list-right .draw-counter{ margin: 10px 0;}
}

@media (max-width: 575px){ 
.available-content-section .contained-area .col-lg-3 { text-align: center;}
.btn-help{ padding:5px 11px;}
.icon-envelope{width:20px;}
.txt-profile-page {font-size: 16px;}
.experience-years { left: 40%;top: 10%;}	
.banner-section .banner-content .container {margin-top: 22%}	
	
.games-bingo .tab-content .mb-cus .col-lg-3 {padding: 0 15%; margin-bottom: 15px;}
.games-bingo .tab-content .nice-select {padding: 7px 15px;}	
}

@media (max-width: 480px) {
.experience-years { left: 38%;top: 9%;}		
.banner-section .banner-content .container {margin-top: 24%}	
.games-bingo .tab-content .all-items {justify-content: center;}
.games-bingo .tab-content .single-item, .games-bingo.tab-content .single-item.list {
	flex: 0 0 calc(100% / 1 - 15px);-ms-flex: 0 0 calc(100% / 1 - 15px); max-width: calc(100% / 1 - 15px);padding: 15px 10px;}
}
@media (max-width: 380px){	
.experience-years { left: 33%;top: 7%;}	
.banner-section .banner-content .container {margin-top: 26%}	
.banner-section .banner-content .ani-illu img.left-1 {width: 50%; left: -59px; top: -234px;}
}
@media (max-width: 340px){	
.banner-section .main-content h1 {font-size: 24px;line-height: 28.6px;}
.banner-section .main-content h3  {font-size: 22px; line-height: 25px;}	
.banner-section .banner-content .container {margin-top: 28%}	
.banner-section .banner-content .ani-illu img.left-1 {display: none;}
.banner-section .banner-content .ani-illu .right-2 {display: none;}
}



